body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    border: 1px grey solid;
    padding: 20px;
    margin: 10px;
    width: 250px;
}
img{
    width: 100%;
}
.descricion{
    font-size: 0.8em;
    text-align: justify;
}
#pechaSesion{
    float: right;
    font-size: 1.2em;
    margin-right: 30px;
}
h2{
    margin-left: 10px;
}
h4{
    margin-top: 5px;
}
form{
    margin-left: 10px;
}
#reservar{
    margin-top: 10px;
}
button{
    margin-right: 10px;
}